@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/popover2/lib/css/blueprint-popover2.css";

//brighter yellow: rgb(253, 192, 60);
$sunlife-yellow:  rgb(253, 192, 60);
$sunlife-dark: rgb(14, 56, 70);
$yellow-white: rgb(252, 242, 177);
$sunlife-header-yellow: rgb(255, 190, 35);
$web-dark: rgb(10, 44, 55);

.mark {
  background-color: rgb(240, 240, 3);
}

.solid-header {
  height: 7px;
  background-color:black;
}

.sunlife-header {
  background-color: $sunlife-yellow;
  height: 45px;
  width: 100vw;
  display: flex;
}

.sunlife-logo {
  transform: translateX(70px);
  height: 45px;
}

.sunlife-header-quick-start {
  transform: translateX(88vw) translateY(-704px);
  background-color: $yellow-white;
  border: solid 1px $sunlife-yellow;
  width: 150px;
  height: 30px;
  font-family: Verdana;
  font-weight: bold;
  font-size: 12px;
  font-style: italic;
  z-index: 100;
}

.background1 {
  max-width: 100vw;
  max-height: 100vh;
  height: 370px;
}

.welcome {
  font-family: Verdana;
  background-image: url(https://wallpaperaccess.com/full/2454669.jpg);
  //max-height: 670px;
}

.welcome-text {
  font-size: 80px;
  font-weight: bolder;
  height: 350px;
  color: rgb(253, 245, 90);
  transform: translateY(100px) translateX(70px);
}

.welcome-sub-block {
  color: rgb(251, 246, 139);
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  transform: translateX(70px) translateY(-100px);
  display:inline-block;
  width: 600px;
  height: 50px;
}

.welcome-wave {
  transform: translateY(-315px) translateX(565px);
  border: 2px solid $sunlife-header-yellow;
  border-radius: 40%;
  max-width: 80px;
  max-height: 80px;
  background: linear-gradient(to right, rgba(230, 229, 220, 0.75) 0, rgba(0, 0, 0, 0) 75%);
}

.welcome-ml-style {
  color: black;
}

.welcome-learn-ml {
  transform: translateX(170px) translateY(-200px);
  background-color: $yellow-white;
  border: solid 3px $sunlife-yellow;
  border-radius: 80px;
  width: 790px;
  height: 65px;
  font-weight: bold;
  font-size: 22px;
  font-style: italic;
}

.welcome-date-style {
  color: black;
}
.welcome-learn-data {
  transform: translateX(890px) translateY(-180px);
  background-color: $yellow-white;
  border: solid 3px $sunlife-yellow;
  border-radius: 80px;
  width: 650px;
  height: 65px;
  font-weight: bold;
  font-size: 22px;
  font-style: italic;
}

.sticky-header {
  position: sticky;
  top: 0px;
  background-color: white;
  height: 70px;
  width: 100vw;
  display: flex;
  font-family: Verdana;
  z-index: 100;
  border-bottom: 1px solid grey;

  .sticky-name {
    transform: translateX(70px) translateY(22px);
    font-weight: bold;
    font-size: 22px;
    color: black;
  }
}

.sticky-header-two {
  position: sticky;
  top: 0px;
  background-color: black;
  height: 70px;
  width: 100vw;
  display: flex;
  font-family: Verdana;
  z-index: 100;
  border-bottom: 1px solid white;

  .sticky-name {
    transform: translateX(70px) translateY(22px);
    font-weight: bold;
    font-size: 22px;
    color: white;
  }
}

.welcome-login {
  margin: 2px 2px;
  padding: 90px;
  color: #fefbf5;
  border: 2px;
  transform: translateX(50px);
}

.tutorial-whole {
  height: 900px;
  background-color: white;
}

.tutorial-connector {
  background-color: $sunlife-header-yellow;
  height: 100px;
  width: 100px;
  text-align: left;
  transform: translateY(-52px) translateX(70px)
}

.connector-one-text {
  font-family: Verdana;
  font-size: 15px;
  font-weight: bold; 
  transform: translateY(56px) translateX(10px)
}

.tutorial-header {
  font-family: Verdana;
  font-weight: bold;
  font-size: 80px;
  color: black;
  display: inline-block;
  width: 100px;
  height: 100px;
  transform: translateX(75vw) translateY(-30px)
}

.matters {
  font-family: Verdana;
  font-weight: bold;
  background-color: $sunlife-yellow;
  color:black;
  padding: 5em;
}

.survey-Block {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  
}

.survey-Text {
  display: flex;
  transform: translateY(100px) 
}

.survey-start-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  transform: translateY(200px)
}

.email-grid {
  display: grid;
  // overflow: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  row-gap: 2px;

  .email-element {
    padding: 10px;
    margin: 10px;
    border: 3px solid $sunlife-yellow;
    border-radius: 15px;
  }
  .email-box-header {
    font-size: 25px;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  .separator {
    transform: translateY(-14px) ;
  }
}

.alert-box {
  background-color: #fefbf5;
  .alert-sub {
    font-size: 15px;
    transform: translateY(-8px)
  }
}

.welcome-page-start {
  display:flex;
  justify-content: center;
  background-color: $yellow-white;
  color: black;
  font-family: Verdana;
  font-weight: bold;
  font-size: 40px;
  // height: 70px;
  width: 15%;
  margin: 0 auto;
  font-style: italic;
  border: solid 2px $sunlife-header-yellow;

  position: sticky;
  bottom: 30px;
}




