@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/popover2/lib/css/blueprint-popover2.css";

//brighter yellow: rgb(253, 192, 60);
$sunlife-yellow:  rgb(253, 192, 60);
$sunlife-dark: rgb(14, 56, 70);
$yellow-white: rgb(252, 242, 177);
$sunlife-header-yellow: rgb(255, 190, 35);
$web-dark: rgb(10, 44, 55);

//// #FFD400,
    // #FFD400, #FF6200,  #FD7F2C,#FD9346,#FFFFB7,

:root {
  --gradient: linear-gradient(
    45deg,
    #FFEA61,
    #FFF192,
    #FDB777,
    #FDA766
  );
}
.mark {
  background-color: rgb(240, 240, 3);
}

.sunlife-header {
  background-color: $sunlife-yellow;
  height: 35px;
  width: 100vw;
  display: flex;
  position: sticky;
  top: 0;
}

.sunlife-logo {
  transform: translateX(70px);
  height: 35px;
}

.sunlife-header-quick-start {
  transform: translateX(79.2vw) translateY(-798px);
  z-index: 1000;
  background-color: $yellow-white;
  border: 0.3px solid black;
  border-radius: 10px;
  width: 300px;
  height: 22px;
  font-family: Verdana;
  font-weight: bold;
  font-size: 12px;
  font-style: italic;
}

.background1 {
  max-width: 100vw;
  max-height: 200px;
  // height: 370px;
}

.welcome {
  font-family: Verdana;
  background-image: url(https://wallpaperaccess.com/full/2454669.jpg);
  max-height: 700px;
  margin: auto;
}

.welcome-text {
  font-size: 80px;
  margin: auto;
  font-weight: bolder;
  height: 350px;
  color: rgb(253, 245, 90);
  text-align: center;
  transform: translateY(150px);
}

.welcome-sub-block {
  color: rgb(251, 246, 139);
  margin: auto;
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  transform: translateX(540px) translateY(-40px);
  display: inline-block;
  width: 600px;
  height: 490px;
}

.welcome-ml-style {
  color: black;
}

.welcome-learn-ml {
  transform: translateX(30px) translateY(250px);
  background-color: $yellow-white;
  border: solid 3px $sunlife-yellow;
  // border-radius: 80px;
  // width: 790px;
  // height: 65px;
  width: 280px;
  height: 100px;
  font-weight: bold;
  font-size: 22px;
  font-style: italic;
}

.welcome-date-style {
  color: black;
}

.welcome-learn-data {
  transform: translateX(280px) translateY(250px);
  background-color: $yellow-white;
  border: solid 3px $sunlife-yellow;
  // border-radius: 80px;
  // width: 650px;
  // height: 65px;
  width: 280px;
  height: 100px;
  font-weight: bold;
  font-size: 22px;
  font-style: italic;
}

.learn-more {
  background: linear-gradient(green, blue);
  height: 100px;
}

.learn-more-text {
  color: white;
  text-align: center;
  font-size: 30px;
  color: white;
  font-weight: bold;
}

.sticky-header {
  position: sticky;
  top: 0px;
  z-index: 1;
  background-color: white;
  height: 70px;
  width: 100vw;
  display: flex;
  font-family: Verdana;
 
  border-bottom: 1px solid grey;

  .sticky-name {
    transform: translateX(70px) translateY(22px);
    font-weight: bold;
    font-size: 22px;
    color: black;
  }
}

.sticky-header-two {
  position: sticky;
  top: 0px;
  z-index: 1;

  background-color: black;
  height: 70px;
  width: 100vw;
  
  font-family: Verdana;
  border-bottom: 1px solid white;

  .sticky-name {
    transform: translateX(70px) translateY(22px);
    font-weight: bold;
    font-size: 22px;
    color: white;
  }
}

.header {
  position: sticky;
  height: 70px;
  width: 100%;
  top: 0;
  // left: 0;
  z-index: 1;
  transition: .3s ease-in;
  overflow: hidden;
  background-color: rgb(0,0,0);
  border-bottom: 0.2px solid $sunlife-yellow;
}

.header .navbar {
  position: relative;
  display:flex;
  justify-content: space-between;
  align-items: center;
  // margin: 10px;
  height: 100%;
  padding-left: 4rem;
  padding-right: 3rem;
}

.header .nav-menu a {
  color: #ffffff;
}

.header .navbar img {
  width: 200px;
  height: auto;
  // translate: translateX(2000px);
}

.header .nav-menu {
  display:flex;
}

.header .nav-item {
  padding: 1.8rem;
  font-family: Verdana;
  font-weight: bold;
}

.header .nav-item a:hover {
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 3px solid $sunlife-yellow;
}

.hamburger {
  display: none;
}

.nav-header {
  translate: translateY(200px);
}

@media screen and (max-width:940px) {
  .header {
      max-width: 100%;
      background-color: rgb(0,0,0);
  }

  .header .navbar {
      max-width: 100%;
  }

  .hamburger {
      display: block;
  }

  .nav-menu {
      position: sticky;
      left: -100%;
      top: 90px;
      flex-direction: column;
      background-color: rgb(0,0,0);
      width: 100%;
      height: 90vh;
      z-index: 999;
      // text-align: center;
      transition: .3s;
  }

  .nav-menu.active {
      left: 0;
  }

  .header .navbar img {
      width: 150px;
  }
}

.welcome-login {
  margin: 2px 2px;
  padding: 90px;
  color: #fefbf5;
  border: 2px;
  transform: translateX(50px);
}
.welcome-button {
  margin: auto;
  cursor: grab;
  color: black;
  font-family:Verdana;
  font-weight: bold;
  font-size: 20px;

  padding: 0.5em 1.5em;
  border: 0;
  border-radius: 10px;
  
  
  align-items: center;
  transform: translateX(88px) translateY(50px); 
  height: 50px;
  width: 300px;
  background-image: var(--gradient);
  background-size: 400%;
  background-position: left;
  // transition: background-position 1s;

  animation: button-animation 3s infinite alternate;
}

@keyframes button-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.welcome-button:hover,
.welcome-button:focus {
  border-radius: 10px;
  border: 1px solid $sunlife-header-yellow;
}

.tutorial-whole {
  // height: 900px;
  background-color: $sunlife-header-yellow;
}

.tutorial-connector {
  background-color: white;
  height: 100px;
  width: 100px;
  text-align: left;
  // transform: translateY(-52px) translateX(70px)
}

.connector-one-text {
  font-family: Verdana;
  font-size: 15px;
  font-weight: bold; 
  transform: translateY(56px) translateX(10px)
}

.tutorial-header {
  font-family: Verdana;
  font-weight: bold;
  font-size: 80px;
  color: black;
  display: inline-block;
  width: 100px;
  height: 100px;
  transform: translateX(75vw) translateY(-30px)
}

.tut {
  font-family: Verdana;
  font-weight: bold;
  background-color: white;
  color:black;
  height: 900px;
}

.tut-connector {
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
  transform: translateY(-52px) translateX(70px)
}

.tut-connector-text {
  font: 15px;
  font-family: Verdana;
  text-align: left;
  transform: translateY(61px) translateX(5px)
}

.tut-placeholder-text {
  color: black;
  margin: 0 10rem;
}

.survey-Block {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.video {
  width: 300px;
  height: 200px;
  z-index: 1000;
}

.tut-video {
  width: 550px;
  height: 360px;

}
.survey-Text {
  display: flex;
  transform: translateY(100px) 
}

.survey-start-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  transform: translateY(200px)
}

.email-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  .email-element {
    padding: 10px;
    margin: 10px;
    border: 3px solid $sunlife-yellow;
    border-radius: 15px;
    // height: 500px;
    // width: 850px;
  }
  .email-box-header {
    font-size: 25px;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  .separator {
    transform: translateY(-14px) ;
  }
}

.alert-box {
  background-color: black;

  .alert-header {
    color: white;
    font-size: 20px;
    font-weight: bold;
  }

  .alert-sub {
    color: white;
    font-size: 16px;
    transform: translateY(-8px)
  }
}

// .welcome-page-start {
//   position: sticky;
//   bottom: 0px;
//   z-index: -1;
//   margin: 0 auto;
//   display:flex;
//   justify-content: center;
//   background-color: $yellow-white;
//   color: black;
//   font-family: Verdana;
//   font-weight: bold;
//   font-size: 40px;
//   width: 15%;

//   font-style: italic;
//   border: solid 2px $sunlife-header-yellow;
// }

.footer {
  height: 200px;
  background-color: white;
}




